.contact-page {
  h2 {
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    background-color: var(--main-grey-color);
    margin: 25rem;
    border-radius: 16px;
  }

  input {
    border: none;
    border-radius: 8px;
    height: 3.2rem;
    margin: 0 0 3rem 0;
  }

  textarea {
    height: 18rem;
    border: none;
    border-radius: 8px;
    margin: 0 0 3rem 0;
  }

  figcaption {
    font-size:1.6rem;
    margin: 0.5rem 0 2rem 0;
    font-style: italic;
  }

  .sub-btn {
    display: flex;
    justify-content: center;
  }

  .sub-btn input {
    background-color: var(--main-green-color);
    border-radius: 0;
    width: 25%;
    margin: 0;
    color: white;
  }

  button {
    background-color: var(--main-green-color);
    color: white;
    padding: 0.7rem 3.5rem;
    margin-left: 0;
    margin-top: 2rem;
  }

  .recipe-img {
    width: 100%;
    height: 15rem;
    border-radius: 8px;
    object-fit: cover;    
  }

  .social-media-wrapper {
        display: flex;
        margin-bottom: 5rem;
        margin-top: 1rem;
  }

    .social-media-wrapper img {
        width: 12rem;
        padding-right: 2rem;
  }
}
