:root {
  --main-green-color: #008000;
  --main-grey-color: #DCDCDC;
  --footer-bg-color: #333;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}
main {
  flex-grow: 1;
  position: relative;
}
header.header,
footer.footer {
  flex-shrink: 0;
}

.hamburger {
  display: none;
  font-size: 2.8rem;
  color: #333;
  cursor: pointer;
  border: solid 0.2rem #333;
  padding: 1.2rem;
}

.hamburger:hover {
  color: #008000;
  border: solid 0.2rem #008000;
}



@media(max-width: 880px) {
  .footer-wrapper {
    flex-direction: column;
  }
}

.container {
  /* 1280px */
  max-width: 128rem;
  margin: 0 auto;
  width: 90%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  padding: 1.2rem 5rem;
  white-space: nowrap;
  width: 20rem;
  height: 4rem;
  border-radius: 0.1rem;
  color: #fff;
  background-color: var(--main-green-color);
}

header.header {
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.15);
  .header-wrapper {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    ul {
      font-size: 2.4rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      gap: 2rem;
    }
    li {
      border-bottom: 3px solid transparent;
      &:hover {
        color: var(--main-green-color);
        border-bottom: 3px solid var(--main-green-color);
      }
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 10rem;
    }
  }
}

footer.footer {
  background-color: var(--footer-bg-color);
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12rem;
    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 10rem;
    }
  }
  .links_wrapper {
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 2rem;
    }
    li {
      &:hover {
        scale: calc(1.1);
      }
    }
    img {
      height: 5rem;
    }
  }
}