:root {
  --main-green-color: #008000;
  --main-grey-color: #DCDCDC;
  --footer-bg-color: #333;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}
main {
  flex-grow: 1;
}
header.header,
footer.footer {
  flex-shrink: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 1.2rem 5rem;
  white-space: nowrap;
  width: 200px;
  border-radius: 0.1rem;
  color: #fff;
  background-color: var(--main-green-color);
  &:hover {
    scale: calc(1.01);
  }
}

.active-link {
  color: var(--main-green-color);
  border-bottom: 3px solid var(--main-green-color);
}

header.header {
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.15);
  .header-wrapper {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
      transform: translateY(0);
    }
    ul {
      font-size: 2.4rem;
      height: 100%;
      display: flex;
      align-items: flex-end;
      gap: 2rem;
    }
    li {
      border-bottom: 3px solid transparent;
      &:hover {
        color: var(--main-green-color);
        border-bottom: 3px solid var(--main-green-color);
      }
    }
    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 100px;
    }
  }
}

.burger-menu {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  &:hover {
    span {
      background-color: #008000;
    }

  }
}

.burger-menu span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.burger-menu.open span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
  opacity: 0;
}

.burger-menu.open span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

footer.footer {
  background-color: var(--footer-bg-color);
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    .logo {
      display: flex;
      align-items: center;
    }
    .logo img {
      height: 100px;
    }
  }
  .links_wrapper {
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      gap: 2rem;
    }
    li {
      &:hover {
        scale: calc(1.1);
      }
    }
    img {
      height: 50px;
    }
  }
}

/* ============================================================
DESKTOP FIRST APPROACH (Standard -> Mobile)
============================================================ */

@media(max-width: 970px) {
  .burger-menu {
    display: flex;
  }
  header.header nav {
    position: absolute;
    top: 120px;
    right: 4px;
    background-color: rgba(222, 222, 222, 0.888);
    height: 350px;
    width: 100%;
  }
  header.header nav.hide {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
  }
  header.header .header-wrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width: 875px) {
  .footer-wrapper {
    flex-direction: column;
  }
  footer {
    min-height: 180px;
  }
  .logo img {
    margin: 1rem;
  }
}

@media(max-width: 475px) {
  .links_wrapper ul {
    flex-direction: column;
  }
  footer {
    min-height: 330px;
  }
  header.header .header-wrapper {
    height: 180px;
    flex-direction: column;
    justify-content: center;
  }
  input {
    width: 90%;
  }
  .time-details-wrapper {
    flex-direction: column;
    gap: 0.5rem;
  }
  .resp-details {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 375px) {
  footer.footer .footer-wrapper .logo img {
    height: 80px;
    padding-left: 0.2rem;
  }
  header.header .header-wrapper .logo img {
    height: 80px;
    padding-left: 0.2rem;
  }
  .recipe-page .portion-wrapper button {
    width: 70%;
    height: 3.4rem;
    padding: 0;
  }
}

@media(max-width: 360px) {
  .br-point {
    overflow-wrap: break-word;
  }
}