.impressum-page {
  p {
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-bottom: 1.9rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  a {
    color: rgb(54, 194, 30);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .operator {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .contact-data {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container {
    padding-top: 5rem;
  }
  .epilogue {
    padding-bottom: 5rem;
  }
}