.impressum-page {
  p {
    margin: 0;
  }

  a {
    color: rgb(54, 194, 30);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .imprint {
    margin-left: 100px;
    margin-right: 100px;
  }
}

