@import "index.css";

body{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Raleway'
}

p{
    margin: 0;
}

a{
    color: rgb(54, 194, 30);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

h1{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h2{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h3{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.imprint{
    margin-top: 50px;
    margin-left: 18rem;
    margin-right: 2rem;
}

.footer{
    background-color: grey;
    height: 100px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.footer-logo{
    margin-left: 18rem;
    display: flex;
    align-items: center;
}

.footer-socialmedia{
    margin-right: 18rem;
    display: flex;
    align-items: center;
}
