.impressum-page {
  p {
    margin-bottom: 5px;
  }

  h1 {
    margin-top: 10px;
    margin-bottom: 19px;
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  a {
    color: rgb(54, 194, 30);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .operator {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contact-data {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .container {
    padding-top: 50px;
  }
  .epilogue {
    padding-bottom: 30px;
  }
  .seal {
    padding-bottom: 30px;
  }
}

@media(max-width: 360px) {
  .br-point {
    overflow-wrap: break-word;
  }
}