.start-page {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color-lighter);
  }
  .main-recipe-wrapper {
    display: flex;
    gap: 4rem;
    padding: 5rem 0;
    img {
      border-radius: 8px;
      height: 26rem;
    }
    .recipe-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        flex: 1;
      }
      button {
        margin-bottom: 4rem;
      }
    }
  }
  .recipes {
    background-color: var(--main-grey-color);
    padding: 5rem 0 6rem 0;
  }
  .recipes-wrapper {
    display: flex;
    justify-content: space-between;
    a {
      &:hover {
        scale: calc(1.01)
      }
    }
    img {
      border-radius: 8px;
      aspect-ratio: 1/1;
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }
    figcaption {
      text-align: center;
      margin-top: 0.5rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  .article {
    padding: 5rem 0;
  }
  .article-wrapper {
    display: flex;
    gap: 4rem;
    padding: 5rem 0;
    p {
      padding-top: 1.1rem;
    }
    img {
      border-radius: 8px;
      aspect-ratio: 1/1;
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }
  }
}

/* ============================================================
DESKTOP FIRST APPROACH (Standard -> Mobile)
============================================================ */

/* 1. Large Desktops / 4K - Below 1920px* */
@media screen and (max-width: 1919px) {
  /* *Styles for standard screens, adjusting from UltraWide */
}

/* 2. Standard Laptops (Your MacBook) - Below 1440px* */
@media screen and (max-width: 1439px) {
  /* *Adjustments for your main workspace screen size */
}

/* 3. Tablets (Landscape) / Small Laptops - Below 1024px **/
@media screen and (max-width: 1023px) {
  /* *Main navigation often changes to a burger menu here */
}

/* 4. Tablets (Portrait) - Below 768px **/
@media screen and (max-width: 767px) {
  /* *Elements start to stack vertically for mobile view */
}

/* 5. Smartphones - Below 480px* */
@media screen and (max-width: 479px) {
  /* *Final tweaks for small screens like iPhone SE */

}