.start-page {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: center;
  }
  p {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color-lighter);
  }
  .main-recipe-wrapper {
    display: flex;
    gap: 4rem;
    padding: 5rem 0;
    img {
      border-radius: 8px;
      max-height: 30rem;
      width: auto;
    }
    .recipe-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        flex: 1;
      }
      a {
        margin: 4rem 0;
        &:hover {
          scale: calc(1.01);
        }
      }
    }
  }
  .recipes {
    background-color: var(--main-grey-color);
    padding: 5rem 0 6rem 0;
  }
  .recipes-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    a {
      &:hover {
        scale: calc(1.01)
      }
    }
    img {
      border-radius: 8px;
      aspect-ratio: 1/1;
      max-height: 20rem;
      width: auto;
      object-fit: cover;
      object-position: center;
    }
    figcaption {
      text-align: center;
      margin-top: 0.5rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  .article {
    padding: 5rem 0;
  }
  .article-wrapper {
    display: flex;
    gap: 4rem;
    padding: 5rem 0;
    p {
      padding-top: 1.1rem;
    }
    img {
      border-radius: 8px;
      aspect-ratio: 1/1;
      max-height: 20rem;
      width: auto;
      object-fit: cover;
      object-position: center;
    }
  }
}

/* ============================================================
DESKTOP FIRST APPROACH (Standard -> Mobile)
============================================================ */

@media screen and (max-width: 780px) {
  /* *Elements start to stack vertically for mobile view */
  .start-page {
    .main-recipe-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        height: auto;
        width: 100%;
      }
      .recipe-description {
        align-items: center;
        h2 {
          text-align: center;
        }
        p {
          padding-top: 1rem;
        }
      }
    }
    .recipes-wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
      a {
        margin-bottom: 2rem;
      }
      img {
        aspect-ratio: 2/1;
        height: auto;
        width: 100%;
      }
    }
    .article-wrapper {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      img {
        aspect-ratio: 2/1;
        height: auto;
        width: 100%;
      }
    }
  }
}