@import "reset.css";
@import "global.css";
@import "recipe.css";
@import "kontakt.css";
@import "impressum.css";

header.header {
  box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.15);
}
.header-wrapper {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  ul {
    font-size: 2.4rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }
  li {
    border-bottom: 3px solid transparent;
    &:hover {
      color: var(--main-green-color);
      border-bottom: 3px solid var(--main-green-color);
    }
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 8rem;
  }
}


.active-link {}