@import "reset.css";
@import "global.css";
@import "recipe.css";
@import "kontakt.css";
@import "impressum.css";

.start-page {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--text-color-lighter);
  }
  .main-recipe-wrapper {
    display: flex;
    gap: 4rem;
    padding: 5rem 0;
    img {
      border-radius: 8px;
      height: 26rem;
    }
    .recipe-description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      p {
        flex: 1;
      }
      button {
        margin-bottom: 4rem;
      }
    }
  }
  .recipes {
    background-color: var(--main-grey-color);
    padding: 5rem 0 6rem 0;
  }
  .recipes-wrapper {
    display: flex;
    justify-content: space-between;
    img {
      border-radius: 8px;
      aspect-ratio: 1/1;
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }
    figcaption {
      text-align: center;
      margin-top: 0.5rem;
      font-size: 1.6rem;
      font-weight: 300;
    }
  }
  .article {
    padding: 5rem 0;
  }
  .article-wrapper {
    display: flex;
    gap: 4rem;
    padding: 5rem 0;
    p {
      padding-top: 1.1rem;
    }
    img {
      border-radius: 8px;
      aspect-ratio: 1/1;
      height: 20rem;
      object-fit: cover;
      object-position: center;
    }
  }
}