@import "index.css";
h3 {
  margin-bottom: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: var(--main-grey-color);
  margin: 25rem;
  border-radius: 16px;
}

input {
  border: none;
  border-radius: 8px;
  height: 3.2rem;
  margin: 0 0 3rem 0;
}

textarea {
  height: 18rem;
  border: none;
  border-radius: 8px;
  margin: 0 0 3rem 0;
}

.sub-btn {
  display: flex;
  justify-content: center;
}

.sub-btn input{
  background-color: var(--main-green-color);
  border-radius: 0;
  width: 25%;
  margin: 0;
  color: white;
}
