@import "index.css";

h2 {
    font-size: 3.5rem;
    margin-top: 4rem;
}
.recipe-img {
    width: 100%;
    height: 15rem;
    border-radius: 8px;
    object-fit: cover;
    margin: 2rem 0;
}

.icon-section {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 6rem;
}

.icon-section > div {
    display: flex;
    align-items: center;   
    margin-right: 2.5rem;
    background-color: var(--main-grey-color);
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
}

.icon-section img {
    margin-right: 1rem;
    width: 16px;
    height: 16px;
}
