.recipe-page {

  h2 {
    font-size: 3.5rem;
    margin-top: 4rem;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 3.5rem;
  }

  input {
    margin: 0 0 0 1rem;
    height: 34px;
    border-radius: 8px 0 0 8px;
    border: 1px solid var(--main-grey-color);
    text-align: center;
  }

  button {
    background-color: var(--main-green-color);
    color: white;
    padding: 0.7rem 3.5rem;
    margin-left: 0;
  }

  table {
    width: 100%;
    margin-bottom: 4rem;
  }

  td {
    height: 40px;
  }

  td:first-child {
    text-align: center;
    border-radius: 1rem 0 0 1rem;
    width: 15rem;
  }

  td:last-child {
    padding-left: 1rem;
    border-radius: 0 1rem 1rem 0;
  }

  table tr:nth-child(odd) {
    background-color: lightgray;
  }

  table tr:nth-child(even) {
    background-color: white;
  }

  .recipe-img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    margin: 2rem 0;
  }

  .time-details-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }

  .time-details-wrapper>div {
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    background-color: var(--main-grey-color);
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
  }

  .time-details-wrapper img {
    margin-right: 1rem;
    width: 16px;
    height: 16px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--main-grey-color);
    margin-bottom: 1rem;
    margin-top: 6rem;
  }

  .portion-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .recipe-creater {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
  }

  .recipe-creater img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
  }

  .recipe-creater span {
    font-size: 2rem;
    padding-left: 2.8rem;
  }
}