* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

body {
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}